<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<div class="title b612-mono is-3 has-text-grey-lighter">
    about
</div>

<div class="container is-widescreen">
<div class="box has-text-left">
</br>
<p>At <b>before greatness</b>, we're not just a gym – we're a community dedicated to helping individuals achieve their fitness goals and discover their true potential. Our story is one of perseverance, strength, and an unyielding belief in the power of the human spirit.</p>
</br>
<h2 class="b612-mono has-text-weight-bold">our story</h2>
</br>
<p>Our founder, Jeremy, is not just a fitness enthusiast, but also a beacon of resilience. In 2006, Jeremy was diagnosed with cancer, a battle that he bravely fought and triumphed over. This experience instilled in him a profound appreciation for health and fitness, a passion that fueled the creation of <b>before greatness</b>.</p>
</br>
<p>Jeremy's journey through cancer recovery to peak fitness became a source of inspiration for others. He championed the idea that physical fitness is not only about building strength and endurance, but also about overcoming challenges, embracing personal growth, and celebrating the human spirit's indomitable resilience.</p>
</br>
<h2 class="b612-mono has-text-weight-bold">our mission</h2>
</br>
<p>Our mission at <b>before greatness</b> is to provide unique, targeted training that helps you excel in your chosen sport and in life. Whether it's improving your balance for longboarding, building strength for weightlifting, enhancing endurance for mountain biking, honing skills for snowboarding, or gearing up for a HYROX event, we've got you covered.</p>
</br>
<h2 class="b612-mono has-text-weight-bold">our commitment</h2>
</br>
<p>We are committed to creating an inclusive, motivating, and supportive environment. Our qualified trainers are here to guide you, and our community is here to uplift you. No matter your fitness level, age, or background, at <b>before greatness</b>, you will find a space where you can strive, grow, and achieve greatness – one workout at a time.</p>
</br>
<h2 class="b612-mono has-text-weight-bold">welcome to before greatness</h2>
</br>
<p>We welcome you to join us, where every sweat, every challenge overcome, and every goal achieved brings you one step closer to your personal greatness. Embrace the journey with us, and together, let's redefine what's possible!</p>
</br>
</div>
</div>




{% endblock %}