<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
        <div class="columns is-mobile is-centered">
            <figure class="image ">
<!--                <img src="{{ logo_url }}">-->
            </figure>
        </div>
        <br/>
        <div class="title b612-mono is-4 has-text-grey-lighter">
            metamarbles.xyz
        </div>
</br>
        <div class="tabs is-centered">
          <ul>
            <li>
                <!-- Twitter-->
              <a href="https://twitter.com/bitsofjeremy" target="_blank">
                <div class="icon-text">
                    <span class="icon has-text-info">
                        <i class="fa-brands fa-x-twitter"></i>
                    </span>
                </div>
              </a>
            </li>
          </ul>
        </div>


<br/>

{% endblock %}